* {
    margin: 0;
    padding: 0;
    font-family: "Lexend", serif;
    user-select: none;
}

nav {
    justify-content: center;
    background-color: transparent;
    padding: 20px 0;
}

.textnav {
    color: white;
    background-color: transparent;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

img {
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
    font-weight: 300;
}

h4 {
    font-size: 30px;
    font-weight: 300;
}

a {
    color: rgb(170, 0, 255);
}

header {
    display: flex;
    justify-content: center;
    flex: wrap;
    padding: 100px 0;
    user-select: none;
}

.fondomorado {
    background-image: url(fondo.png);
    background-size: cover;
    background-position: center;
}

.fondomusica {
    background-image: url(https://wallpapers.com/images/hd/black-and-white-music-1920-x-1080-wallpaper-zvzo3yudjgglb910.jpg);
    background-size: cover;
    background-position: 0 650px;
}

.headertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.blacksection {
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.videosyt {
    margin: 10px 10px;
    border-radius: 10px;
}

.enlacespoti {
    margin: 10px;
}